---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/2331596714/media/recent.json?access_token=2331596714.2dd2c36.bd9e537a6ecc4b6ea85b0cc9f22a5779&count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2331596714.2dd2c36.bd9e537a6ecc4b6ea85b0cc9f22a5779"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '495'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":{"latitude":39.6423607,"name":"A-Basin
        Ski \u0026 Snowboard Area","longitude":-105.8717499,"id":228111834},"comments":{"count":0},"filter":"Normal","created_time":"1450311071","link":"https:\/\/www.instagram.com\/p\/_X1E-Cms4T\/","likes":{"count":0},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xat1\/t51.2885-15\/s320x320\/e35\/12331514_156113021416289_1883021768_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xat1\/t51.2885-15\/s150x150\/e35\/12331514_156113021416289_1883021768_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xat1\/t51.2885-15\/s640x640\/sh0.08\/e35\/12331514_156113021416289_1883021768_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1450311071","text":"Snowing
        hard!","from":{"username":"aaronturing","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtp1\/t51.2885-19\/s150x150\/12338859_189639354716935_1184283222_a.jpg","id":"2331596714","full_name":"Aaron"},"id":"1141614472202997473"},"user_has_liked":false,"id":"1141614468520398355_2331596714","user":{"username":"aaronturing","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtp1\/t51.2885-19\/s150x150\/12338859_189639354716935_1184283222_a.jpg","id":"2331596714","full_name":"Aaron"}}]}'
  recorded_at: Thu, 17 Dec 2015 02:31:28 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search.json?access_token=2331596714.2dd2c36.bd9e537a6ecc4b6ea85b0cc9f22a5779&q=berner
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2331596714.2dd2c36.bd9e537a6ecc4b6ea85b0cc9f22a5779"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '494'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"media_count":241928.0,"name":"berner"},{"media_count":65881.0,"name":"bernersennen"},{"media_count":23346.0,"name":"berneroberland"},{"media_count":16656.0,"name":"berners"},{"media_count":36671.0,"name":"bernersennenhund"},{"media_count":28403.0,"name":"berneroftheday"},{"media_count":16535.0,"name":"bernerpuppy"},{"media_count":21829.0,"name":"bernerlove"},{"media_count":12021.0,"name":"berner415"},{"media_count":8485.0,"name":"bernerstavern"},{"media_count":36342.0,"name":"bernersofinstagram"},{"media_cou[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/berner/media/recent.json?access_token=2331596714.2dd2c36.bd9e537a6ecc4b6ea85b0cc9f22a5779
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2331596714.2dd2c36.bd9e537a6ecc4b6ea85b0cc9f22a5779"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '493'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_min_id":"1140622512473402752","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","min_tag_id":"1140622512473402752"},"meta":{"code":200},"data":[{"attribution":null,"tags":["snowday","cowx","berner","denver","bernesemountaindog"],"type":"image","location":{"latitude":39.762675715,"name":"City
        of Cuernavaca Park","longitude":-105.001125702,"id":2491952},"comments":{"count":0},"filter":"Normal","created_time":"1450192820","link":"https:\/\/www.instagram.com\/p\/_UTiG-ym2A\/","likes":{"count":25},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xap1\/t[...]
