---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search.json?access_token=2331596714.2dd2c36.bd9e537a6ecc4b6ea85b0cc9f22a5779&q=skiing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2331596714.2dd2c36.bd9e537a6ecc4b6ea85b0cc9f22a5779"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '481'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"media_count":2508233.0,"name":"skiing"},{"media_count":71392.0,"name":"jetskiing"},{"media_count":45465.0,"name":"springskiing"},{"media_count":47052.0,"name":"crosscountryskiing"},{"media_count":21489.0,"name":"xcskiing"},{"media_count":14561.0,"name":"nightskiing"},{"media_count":15842.0,"name":"backcountryskiing"},{"media_count":13354.0,"name":"heliskiing"},{"media_count":12725.0,"name":"loveskiing"},{"media_count":10842.0,"name":"skiingislife"},{"media_count":6469.0,"name":"skiingtrip"},{"media_count":2958.0,"name":"skii[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/skiing/media/recent.json?access_token=2331596714.2dd2c36.bd9e537a6ecc4b6ea85b0cc9f22a5779
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2331596714.2dd2c36.bd9e537a6ecc4b6ea85b0cc9f22a5779"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '480'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_min_id":"1123277705212227256","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","min_tag_id":"1123277705212227256"},"meta":{"code":200},"data":[{"attribution":null,"tags":["skicolorado","powderday","cowx","getoutside","skiing"],"type":"image","location":{"latitude":39.641976612,"name":"Arapahoe
        Basin","longitude":-105.872335327,"id":214083066},"comments":{"count":0},"filter":"Normal","created_time":"1448125158","link":"https:\/\/www.instagram.com\/p\/-Wrx8bSm64\/","likes":{"count":34},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xft1\/t51.2885-15\/s320x320\/e35\/12230903_1020679741288287_1004829368_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfp1\/t51.2885-15\/s150x150\/e35\/c135.0.810.810\/12224076_628478690587904_693647247_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xft1\/t51.2885-15\/s640x640\/sh0.08\/e35\/12230903_1020679741288287_1004829368_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1448125158","text":"doesn''t
        get much better @arapahoe_basin #skicolorado #skiing #cowx #getoutside #powderday","from":{"username":"powskiing","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xap1\/t51.2885-19\/s150x150\/12145609_1664024740502430_1985352303_a.jpg","id":"15489762","full_name":"Aaron
        Careaga"},"id":"1123278124793621943"},"user_has_liked":false,"id":"1123277705212227256_15489762","user":{"username":"powskiing","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xap1\/t51.2885-19\/s150x150\/12145609_1664024740502430_1985352303_a.jpg","id":"15489762","full_name":"Aaron
        Careaga"}},{"attribution":null,"tags":["skicolorado","cowx","keystone","getoutside","skiing"],"type":"image","location":{"latitude":39.6042,"name":"Keystone,
        Colorado","longitude":-105.948,"id":214016218},"comments":{"count":0},"filter":"Normal","created_time":"1448062209","link":"https:\/\/www.instagram.com\/p\/-UztpHSm2t\/","likes":{"count":32},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpt1\/t51.2885-15\/s320x320\/e35\/11939636_1664909153789072_426009058_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xft1\/t51.2885-15\/s150x150\/e35\/c135.0.810.810\/12224100_1667618003494391_1353073895_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpt1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11939636_1664909153789072_426009058_n.jpg","width":640,"height":640}},"users_in_photo":[{"position":{"y":0.290222222,"x":0.530666667},"user":{"username":"careaga_kate","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtf1\/t51.2885-19\/s150x150\/11809969_1610641125869458_738196221_a.jpg","id":"16510802","full_name":"Kate
        Careaga"}}],"caption":{"created_time":"1448062209","text":"Way better than
        I expected today \u2744\ufe0f\ud83c\udf28 #skicolorado #cowx #skiing #getoutside
        #keystone","from":{"username":"powskiing","profile_picture":"http:\/\/scontent.cdni[...]
