<% if current_user %>
  <% client = Instagram.client(:access_token => current_user[:oauth_token]) %>
  <h3> <%= current_user.username %>'s media feed</h3>
<% else %>
  <div class="col s12"><span class="flow-text"> Login to Adventure </span></div>
<% end %>
