<div class="container">
  <% if current_user %>
    <div class="col s12"><span class="flow-text">Hello, <%= current_user.username %> </span></div>
  <% else %>
    <div class="col s12"><span class="flow-text"> Login to Adventure </span></div>
  <% end %>
</div>
